.header {
    background-image: url(../images/cool-background1.png);
    height: 100px;
  }
  
  .header h1 {
    color: black;
    padding-top: 25px;
    padding-left: 10px;
    font-size: 3rem;
    padding-bottom: 10px;
  }

  .portfolio {
    padding-top: 75px;
    padding-left: 40px;
    height: 100vh;
    font-size: large;
    column-count: 3;
  }

  .card {
    border: 1px solid;
    margin-bottom: 50px;
    background-image: url(../images/cool-background.png);
  }