.header {
    background: gray;
    height: 100px;
  }
  
  .header h1 {
    margin: 0;
    color: white;
    padding-top: 25px;
    padding-left: 10px;
    font-size: 3rem;
    padding-bottom: 10px;
    border-bottom: 1px solid;
  }

  .section {
    padding-top: 75px;
    padding-left: 10px;
    height: 100vh;
    font-size: large;
    background-image: linear-gradient(gray, lightgray);
  }