.header {
    background-image: url(../images/cool-background1.png);
    height: 100px;
  }
  
  .header h1 {
    margin: 0;
    color: black;
    padding-top: 25px;
    padding-left: 10px;
    font-size: 3rem;
    padding-bottom: 10px;
  }

  .section {
    padding-top: 75px;
    padding-left: 10px;
    height: 100vh;
    font-size: large;
  }